body {
    margin: 0;
}
#intro {
    display: block;
    width: 100%;
    height: 100vh;
    padding: 0;
    text-align: center;
    color: white;
    background-color: black;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
}

.bodyControlWidth{
    max-width: 900px;
}

.navfixed{
position: fixed;
}
.separa{
    display: flex;
  justify-content: space-between;
}

.d{

background-size:contain;
background-position:center;
background-image: url('../img/teste.png');
background-repeat: no-repeat;


  height: 550px;
}

